# Terraform provier directory
.terraform

# Terraform state
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock

# Terraform lock file
.terraform.lock.hcl

# Local secrets in dev
secrets

# SSH/SSL Material
*.pem
*.crt
*.pub
